<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="home-box-outer">
        <div class="home-box-inner">
            <h1>Welcome</h1>
            <button class="btn" onclick="document.location='login'">Login</button>
            <button class="btn" onclick="document.location='register'">Register</button>
        </div>
    </div>
</body>
</html>