<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="login-box-outer">
        <div class="login-box-inner">
            <h1>Login</h1>
            <form action="/login" method="POST">
                {% if username %}
                <div class="textbox"><input type="text" placeholder="Username" name="username" value="{{ username }}"></div>
                {% else %}
                <div class="textbox"><input type="text" placeholder="Username" name="username"></div>
                {% endif %}
                <div class="textbox"><input type="password" placeholder="Password" name="password"></div>
                {% if msg %}
                {{msg}}
                {% endif %}
                <input class="btn" type="submit" value="Sign In">
            </form>
            <div><a href="/forget password">Forget Password</a></div>
            <div>Don't Have an account? <br>
                <a href="/register">Create here</a>
            </div>
        </div>
    </div>
</body>
</html>